# Node.js dependencies
node_modules/

# Playwright specific files and directories
test-results/
playwright-test-report/
playwright/.cache/
playwright/.auth/

# Environment variables
.env
.env.local

# IDE and OS specific files
.idea/
.vscode/
.DS_Store
Thumbs.db